.task-card {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #fff;
    padding: 6.5px 6px;
    color: #4d4d4d;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    word-wrap: break-word;
    cursor: pointer;
}